/***************************************************************************** APP **********************************************************************/
body {
  background-color: whitesmoke;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/***************************************************************************** CONTENT **********************************************************************/
.content-wrap {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 110px;
  margin-top: 110px;
}

/***************************************************************************** MENU **********************************************************************/
.MenuFooter {
  padding-bottom: 30px;
  padding-top: 10px;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  border-top: 1px solid black;
}

.menu-image {
  max-width: 100%; /* Asegura que la imagen no se desborde de la columna */
  height: auto;    /* Mantiene la relación de aspecto de la imagen */
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item span {
  margin-top: 5px;
  font-size: 14px;
}

.menu-link {
  text-decoration: none; /* Elimina la línea debajo del texto */
  color: inherit;        /* Asegura que el color del texto sea el mismo que el del icono o deseado */
}

/***************************************************************************** CARDS **********************************************************************/
.card-title {
  color: #000000; /* Cambia el color del título en las tarjetas */
  font-size: 25px;
  margin-bottom: 25px;
}

.inline-blue-card {
  background-color: #51a5ea;
  color: white;
  font-weight: bold;
  font-size: large;
}

.inline-green-card {
  background-color: #72ca5a;
  color: white;
  font-weight: bold;
  font-size: large;
}

.inline-yellow-card {
  background-color: #ead351;
  color: white;
  font-weight: bold;
  font-size: large;
}

.inline-red-card {
  background-color: #ca6d5a;
  color: white;
  font-weight: bold;
  font-size: large;
}

.custom-card {
  width: 100%;
}

/***************************************************************************** HEADER **********************************************************************/
.MenuHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.custom-header {
  background-color: whitesmoke;
}

.custom-header-text {
  color: black;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
}